*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    position: relative;
    flex-direction: column;
}

.filterContainer{
    display: flex;
    position: fixed;
    top: 7rem;
    left: 1rem;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 20rem;
    background-color: rgb(159, 92, 221);
    border-radius: 10px;
    box-shadow: 2px 2px 9px rgb(159, 92, 221);
}

.formData{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3rem;
}

.check{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.checkboxContainer{
    display: flex;
    align-items: center;
}

.h3{
    color: white;
    font-size: 1.2rem;
}

.h4{
    margin-bottom: -1rem;
    font-size: 1.2rem;
    color: white;
}

.card{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 1rem;
}

.spinner{
    margin: 10rem 0rem 0rem 32rem;
}

.search{
    height: 3rem;
    margin-left: 14rem;
    margin-top: 2rem;
    width: 28rem;
    border-radius: 10px;
    border: none;
    background: #c9c9c9;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.range{
    width: 160%;
    margin-left: -2rem;
}