*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 24rem;
    margin: auto;
    /* margin-top: 4rem; */
    gap: 2rem;
    /* border: 0.15px solid black; */
    padding-top: 3rem;
}

.input{
    height: 3rem;
    padding-left: 1rem;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    background-color: aliceblue;
    box-shadow: 4px 4px 6px #847f7f;
    width: 80%;
    margin: auto;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.submit{
    height: 3rem;
    border: none;
    background: #6089e8;
    border-radius: 15px;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-size: 1.1rem;
}

.link{
    text-align: start;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: black;
    margin-left: 4rem;
}
.h1{
    font-weight: 900;
    font-size: xxx-large;
}